#
# Maintained by Ansible.
#


include: {{ instance_base_dir }}/etc/nsd.server.conf
include: {{ instance_base_dir }}/etc/nsd.keys.conf
include: {{ instance_base_dir }}/etc/nsd.template.conf
include: {{ instance_base_dir }}/etc/nsd.zones.conf

